:root {
    --base: #ffc600;  /*variable to change color*/
    --spacing: 10px;  /*variable to change spacing*/
    --blur: 10px;  /*variable to change blur rate*/
  }

  img {
    padding: var(--spacing);  /*changing the padding of img box to increase or decrease spacing*/
    background: var(--base);/*changing the background of img box acc to the color selected*/
    filter: blur(var(--blur));/*changing the blur rate*/
  }

  .hl {
    color: var(--base);
  }

  /*
    misc styles, nothing to do with CSS variables
  */

  body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }