*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
    overflow: hidden;
}
#keys-container{
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 30px;
}
.key{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
    transition: all .07s ease;
    
}
.playing{
    background-color: #4CAF50;
    color: black;
    border: 2px dashed yellow;
    transform:scale(1.1)
}